body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #1a1f2c;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    max-width: 700px;
    width: 80%;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
}

header h1 {
    color: white;
    margin-bottom: 2rem;
    text-align: center;
    text-shadow: black 2px 2px 2px;
}

.character-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 15px;
}


.arrow-button {
    background: none;
    border: 2px solid white;
    color: #42b883;
    padding: 0.7rem 1.2rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
    top: 10px;
}

.arrow-button:hover {
    background-color: #42b883;
    color: white;
}

form {
    margin-top: 1.5rem;
}

.form-group, .form-group1 {
    margin-bottom: 1rem;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: white;
    text-shadow: black 2px 2px 2px;
    font-family: 'Arial', sans-serif;
}

li {
    label {
        display : inline-block
    }
    button {
        margin-left: 10px;
        color : white;
        padding : 3px;
        background-color: #007bff;
        border-radius: 3px;
        border : none;
    }
}

ul {
    list-style-type: none;
}

input, select {
    width: 60%;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    margin-top: 0.5rem;
    text-align: center;
    appearance: none;
    text-align-last: center;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 15px;
}


.cta-button {
    background-color: #42b883;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #3aa876;
}

.join-button {
    background-color: #007bff;
}

.join-button:hover {
    background-color: #0056b3;
}

#room-code {
    width: 200px;    
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    text-align: center;
    transition: box-shadow 0.3s ease;
  }
  
#room-code:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(66, 133, 244, 0.8);
  }
