.inventory {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    padding: 5px;
    border-radius: 8px;
    z-index: 3;
  }
  
  .inventory-slots {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 4px;
  }
  
  .inventory-slot {
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.1);
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    cursor: pointer;
  }
  
  .inventory-slot:hover {
    border-color:gray;
  }

  .inventory-slot.selected {

  }

  .inventory-item {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  