body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background : #1a1f2c;
}

canvas {
    position: fixed;
    top: 0;
    left: 20%;
    z-index: 1;
}
dialog::backdrop {
    background: rgba(66, 52, 52, 0.25);
}