body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background : #1a1f2c;
}

canvas {
    position: fixed;
    top: 0;
    left: 20%;
    z-index: 1;
}
:focus {
    outline: auto !important
  }

#canvas {
    display: block;
}

dialog {
  border-radius: 5px;
  border : none;
  color : white; 
  background-color: #1a1f2c;
}

dialog::backdrop {
    background: rgba(66, 52, 52, 0.25);
}