<html>

<head>
  <title>Lost Island</title>
  <link rel="stylesheet" href="/static/interface/css/chat.css">
  <link rel="stylesheet" href="/static/interface/css/style.css">
  <link rel="stylesheet" href="/static/interface/css/inventory.css">
  <link rel="stylesheet" href="/static/interface/css/tasks.css">
  <link rel="stylesheet" href="/static/interface/css/vote.css">
  <link rel="stylesheet" href="/static/interface/css/role.css">
  <script src="//cdn.jsdelivr.net/npm/phaser@3.87.0/dist/phaser.min.js"></script>
  <script type="module" src="/static/game.js"></script>
  <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  
</head>
<body>
  <div id="app">!
    <div id="chat">
        <div id="messages">
            <div v-for="(msg, index) in messages" :key="index" class="message">
                <span>{{ msg.player }}</span>: {{ msg.message }}
            </div>
        </div>
        <input type="text" v-model="newMessage" @keydown.enter="sendMessage" placeholder="Tapez votre message...">
    </div>
  </div>
  <div class="inventory">
    <div class="inventory-slots">
      <div class="inventory-slot">Item 1</div>
      <div class="inventory-slot">Item 2</div>
      <div class="inventory-slot">Item 3</div>
      <div class="inventory-slot">Item 4</div>
      <div class="inventory-slot">Item 5</div>
      <div class="inventory-slot">Item 6</div>
      <div class="inventory-slot">Item 7</div>
      <div class="inventory-slot">Item 8</div>
    </div>
  </div>
  <div id="tasks" class="task-menu">
    <button id="toggle-button" class="toggle-button">Ouvrir les tâches</button>
    <div id="task-list" class="task-list" style="display: none;">
    </div>
  </div>
  <div id="voteModal" class="modal">
    <div class="modal-content">
      <h2>Votez pour le traître</h2>
      <p>Choisissez le joueur suspect :</p>
      <div id="playersList"></div>
      <button id="cancelVote">Annuler</button>
    </div>
  </div>
  <div id="roleModal" class="role-modal">
    <div class="role-modal-content">
      <h2>Votre rôle</h2>
      <p id="roleText"></p>
      <button id="closeRoleModal">Fermer</button>
    </div>
  </div>
  <script src="/static/interface/scripts/tasks.js"></script>
  <script src="/static/interface/scripts/vote.js"></script>
  <script src="/static/interface/scripts/role.js"></script>
</body>
</html>
